body {
  font-family: sans-serif;
  background-color: #b6b6b6;
  background-image: url("http://imgsplanet.com/pics/main/34/329156-marble.jpg");
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%),
    url("http://imgsplanet.com/pics/main/34/329156-marble.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

table {
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  padding-top: 3%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 13px;
  text-align: center;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

#nav-bar li {
  float: left;
  color: white;
  padding: 15px;
  padding-right: 25px;
  font-size: 18px;
}

.clickable:hover {
  background-color: #0a0a0a;
}

h2{
  text-align: left;
  padding-left: 3%;
  padding-bottom: 2%;
}

h3 {
  text-align: left;
  padding-left: 3%;
  padding-bottom: 2%;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25%;
}

div {
  text-align: center;
}

#image {
  height: 75%;
  width: 75%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

#quest-form p {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

form {
  text-align: left;
}

input[type=submit] {
  text-align: center;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 5%;
}

input[type=text] {
  width: 85%;
  padding: 12px 20px;
  margin-top: 8px;
  margin-left: 7%;
  box-sizing: border-box;
}
